Repository afids/afids-utils: changes, and which Codecov flags are due for each by the changed paths.
All: afids_utils/io.py, afids_utils/transforms.py

codecov.yml:

---
comment:
  layout: header, diff, flags, components
coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 5%
component_management:
  individual_components:
    - component_id: afids-utils_io
      name: afids_utils/io.py
      paths: [afids_utils/io.py]
    - component_id: afids-utils_transforms
      name: afids_utils/transforms.py
      paths: [afids_utils/transforms.py]

init readthedocs
  .readthedocs.yml
  README.md
  afids_utils/io.py
  docs/Makefile
  docs/api/main.md
  docs/conf.py
  docs/index.md
  docs/requirements.txt
Due: afids_utils/io.py

Update docstrings for readthedocs
  .readthedocs.yml
  afids_utils/io.py
  afids_utils/transforms.py
  docs/api/io.md
  docs/api/transform.md
  docs/conf.py
  docs/general/main.md
  docs/index.md
  docs/requirements.txt
Due: afids_utils/io.py, afids_utils/transforms.py

simplify main doc page
  README.md
  docs/general/main.md
  docs/index.md
Due: none

Add checks / tests for AFIDs coord array shape
  afids_utils/io.py
  afids_utils/tests/strategies.py
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

use NamedTemporaryFile as context manager
  afids_utils/tests/test_io.py
Due: none

add integral_volume and associated tests
  afids_utils/features/__init__.py
  afids_utils/features/regRF.py
  afids_utils/tests/strategies.py
  afids_utils/tests/test_regRF.py
Due: none

add coord region sampling and assoc. tests
  afids_utils/features/regRF.py
  afids_utils/tests/test_regRF.py
Due: none

split int_vol dtype tests, update codecov
  afids_utils/features/regRF.py
  afids_utils/tests/strategies.py
  afids_utils/tests/test_regRF.py
  codecov.yml
  pyproject.toml
Due: none

add reading input json file
  afids_utils/io.py
  afids_utils/resources/template.json
  afids_utils/tests/data/tpl-MNI152NLin2009cAsym_afids.json
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

add tests for checking mismatched afids desc
  afids_utils/io.py
  afids_utils/tests/data/tpl-MNI152NLin2009cAsym_afids.fcsv
  afids_utils/tests/data/tpl-MNI152NLin2009cAsym_afids.json
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

add afids_to_json method
  afids_utils/io.py
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

fix tests with contextmanager
  afids_utils/tests/test_io.py
Due: none

Update docstrings for json
  afids_utils/io.py
Due: afids_utils/io.py

quality fixes
  afids_utils/io.py
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

Address tkkuehn review
  afids_utils/features/reg_rf.py
  afids_utils/io.py
  afids_utils/tests/strategies.py
  afids_utils/tests/test_io.py
  afids_utils/tests/test_reg_rf.py
Due: afids_utils/io.py

use/test reusable bump action workflow
  .github/workflows/bump_version.yml
Due: none

use reusable assign_reviewer workflow
  .github/workflows/assign_reviewers.yml
Due: none

switch to reusable release workflow
  .github/workflows/release.yml
Due: none

refactor to create a class for afids
  afids_utils/afids.py
  afids_utils/exceptions.py
  afids_utils/ext/__init__.py
  afids_utils/ext/fcsv.py
  afids_utils/io.py
  afids_utils/resources/afids_descs.json
  afids_utils/resources/template.fcsv
  afids_utils/tests/data/tpl-MNI152NLin2009cAsym_afids.fcsv
  poetry.lock
  pyproject.toml
Due: afids_utils/io.py

add tests for handling fcsv extension
  afids_utils/ext/fcsv.py
  afids_utils/io.py
  afids_utils/tests/test_ext.py
Due: afids_utils/io.py

first pass at refactoring io.py and tests
  afids_utils/io.py
  afids_utils/resources/afids_descs.json
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

first pass at refactoring afids.py and associated tests
  afids_utils/afids.py
  afids_utils/tests/test_afids.py
  afids_utils/tests/test_ext.py
Due: none

change saving to use AfidSet
  afids_utils/afids.py
  afids_utils/ext/fcsv.py
  afids_utils/io.py
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

update code coverage
  codecov.yml
Due: none

quality fixes and updates to exceptions thrown
  afids_utils/afids.py
  afids_utils/ext/fcsv.py
  afids_utils/io.py
  afids_utils/tests/test_afids.py
  afids_utils/tests/test_ext.py
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

update docstrings for afids_utils.io.save
  afids_utils/io.py
Due: afids_utils/io.py

update doc requirements
  docs/requirements.txt
Due: none

update attr -> attrs
  afids_utils/afids.py
Due: none

drop polars from dependency
  poetry.lock
  pyproject.toml
Due: none

partially tkkuehn comments
  afids_utils/afids.py
  afids_utils/ext/fcsv.py
  afids_utils/io.py
  afids_utils/resources/template.fcsv
  afids_utils/tests/strategies.py
  afids_utils/tests/test_afids.py
  afids_utils/tests/test_ext.py
  afids_utils/tests/test_io.py
Due: afids_utils/io.py

update codecov components
  codecov.yml
Due: none

update doc's toctree
  docs/api/afids.md
  docs/api/io.md
  docs/index.md
Due: none

minor refactor for better handling of load_fcsv
  afids_utils/ext/fcsv.py
  afids_utils/tests/test_ext.py
Due: none

add exceptions to the docs
  docs/exceptions/exceptions.md
  docs/index.md
Due: none

linting / formatting updates
  afids_utils/ext/fcsv.py
  afids_utils/tests/test_ext.py
Due: none

fix doc rst eval
  docs/api/afids.md
  docs/exceptions/exceptions.md
Due: none

switch to calling reusable wfs from khanlab org
  .github/workflows/assign_reviewers.yml
  .github/workflows/bump_version.yml
  .github/workflows/release.yml
Due: none

add contributing instructions to README
  README.md
Due: none

switch from autoclass to automodule for exceptions
  afids_utils/exceptions.py
  docs/exceptions/exceptions.md
Due: none
